body{
    background-color: brown;
    background-image: none;
    background-color: aqua;
    background-color: aliceblue;
    background-color: rgb(240, 255, 243);
    background-color: rgb(154, 173, 190);
    background-color: rgb(240, 255, 243);
    background-color: rgb(154, 173, 190);